<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>MindSet 24-7 | Administration</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
    <link href="../assets/plugins/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet"/>
    <link href="../assets/plugins/animate/animate.min.css" rel="stylesheet"/>
    <link href="../assets/css/default/style.min.css" rel="stylesheet"/>
    <link href="../assets/css/default/style-responsive.min.css" rel="stylesheet"/>
    <link href="../assets/css/default/theme/default.css" rel="stylesheet" id="theme"/>
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="../assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet"/>
    <link href="../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <link href="../assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet"/>
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="../assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="../assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/plugins/DataTables/extensions/AutoFill/css/autoFill.bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/plugins/DataTables/extensions/ColReorder/css/colReorder.bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/plugins/DataTables/extensions/KeyTable/css/keyTable.bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/plugins/DataTables/extensions/RowReorder/css/rowReorder.bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/plugins/DataTables/extensions/Select/css/select.bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- ================== END PAGE LEVEL STYLE ================== -->

</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <div class="container" th:include="fragments :: notifications"/>

    <!-- end #header -->

    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">
            <!-- begin sidebar user -->
            <ul class="nav">
                <li class="nav-profile">
                    <a href="#" data-toggle="nav-profile">
                        <div class="cover with-shadow"></div>
                        <div class="image">
                            <img th:src="@{'data:image/jpeg;base64,'+${profile.profilePic}}"
                                 alt="no profile pic set"/>
                        </div>
                        <div class="info">
                            <b class="caret pull-right"></b>
                            <span th:text="${profile.getUserName()}"></span>
                            <small th:text="${profile.getFirstName() +'  '+profile.getSurname()}">Front end developer
                            </small>
                        </div>
                    </a>
                </li>
                <li>
                    <ul class="nav nav-profile">
                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
                        <li><a href="#"><i class="fa fa-question-circle"></i> Helps</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end sidebar user -->
            <!-- begin sidebar nav -->
            <!--<ul class="nav">-->
                <!--<li class="nav-header">Navigation</li>-->
                <!--<li><a href="profile"><i class="fa fa-user"></i> <span>PROFILE</span></a></li>-->
                <!--<li><a href="new_donation"><i class="fa fa-image"></i> <span>CREATE DONATION</span></a></li>-->
                <!--<li><a href="current_donations"><i class="fa fa-clock"></i> <span>CURRENT DONATION</span></a></li>-->
                <!--<li><a href="donation_state"><i class="fa fa-table" aria-hidden="true"></i>-->
                    <!--<span>ALL DONATIONS</span></a></li>-->
                <!--&lt;!&ndash; begin sidebar minify button &ndash;&gt;-->
                <!--<li><a href="#" class="sidebar-minify-btn" data-click="sidebar-minify"><i-->
                        <!--class="fa fa-angle-double-left"></i></a></li>-->
                <!--&lt;!&ndash; end sidebar minify button &ndash;&gt;-->
            <!--</ul>-->
            <!-- end sidebar nav -->
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <!--<ol class="breadcrumb pull-right">-->
        <!--<li class="breadcrumb-item"><a href="#">Home</a></li>-->
        <!--<li class="breadcrumb-item active">Dashboard</li>-->
        <!--</ol>-->
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">System Users
            <small>MindSet 24-7</small>
        </h1>
        <!-- end page-header -->

        <!-- begin row -->
        <!--<div class="container-fluid hidden-xs hidden-sm" th:include="fragments :: desktopTabs"/>-->
        <div class="row">
            <div class="col-lg-2 col-md-6">
                <div class="widget widget-stats bg-info">
                    <div class="stats-icon"><i class="fa fa-clock"></i></div>
                    <div class="stats-info">
                        <h3>GO HOME</h3>
                        <!--<p>Latest Donations</p>-->
                    </div>
                    <div class="stats-link">
                        <a href="profile">go home<i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- begin col-3 -->
            <div class="col-lg-2 col-md-6">
                <div class="widget widget-stats bg-purple">
                    <div class="stats-icon"><i class="fa fa-clock"></i></div>
                    <div class="stats-info">
                        <h3>DONATIONS LIST</h3>
                        <!--<p>Latest Donations</p>-->
                    </div>
                    <div class="stats-link">
                        <a href="administration">view all donations<i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->

            <!-- begin col-3 -->
            <div class="col-lg-2 col-md-6">
                <div class="widget widget-stats bg-yellow-darker">
                    <div class="stats-icon"><i class="fa fa-user"></i></div>
                    <div class="stats-info">
                        <h3>SYSTEM USERS</h3>
                        <!--<p>Keeper Donations</p>-->
                    </div>
                    <div class="stats-link">
                        <a href="admin_users">View Users <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end col-3 -->


            <!-- end col-3 -->
        </div>
        <!-- end row -->
        <!-- begin row -->
        <div class="row">
            <!-- begin col-8 -->

            <div class="col-lg-12">
                <form action="#" data-th-action="@{./approveDonation}" th:object="${register}" method="post"
                      enctype="multipart/form-data" class="margin-bottom-0">
                    <input name="requester" th:value="donation_state" type="hidden"/>

                    <!-- begin panel -->
                    <div class="panel panel-inverse" data-sortable-id="table-basic-7">

                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                            </div>
                            <h4 class="panel-title">System Users</h4>
                        </div>
                        <!-- end panel-heading -->
                        <!-- begin panel-body -->
                        <div class="panel-body">
                            <!-- begin table-responsive -->

                            <table id="data-table-select" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <!--<th></th>-->
                                    <!--<th width="1%" data-orderable="false">Donation Type</th>-->
                                    <th>Username</th>
                                    <th>User Type</th>
                                    <th>Sponsor Username</th>
                                    <th>First Name</th>
                                    <th>Surname</th>
                                    <th>Email Address</th>
                                    <th>Phone Number</th>
                                    <th>Gender</th>
                                    <th>Bank Name</th>
                                    <th>Account Number</th>
                                    <th>Branch Number</th>
                                    <th>Account Type</th>
                                    <th>Account Holder Name</th>
                                    <th>Enabled</th>

                                    <!--<th width="1%"></th>-->
                                </tr>
                                </thead>
                                <th:block th:each="result, rowStat : ${users}" th:name="action"
                                          th:attr="action=${rowStat.index}">
                                    <tr>
                                        <td th:text="${result.userName}"/>
                                        <td class="with-btn" nowrap="nowrap" th:if="${result.userType==null}">
                                            <button style="width: 98%" disabled="disabled"  type="submit" class="btn btn-danger btn-sm text-left">System User</button>
                                        </td>
                                        <td class="with-btn" nowrap="nowrap" th:if="${result.userType==99}">
                                            <button style="width: 98%"  disabled="disabled" type="submit" class="btn btn-warning btn-sm text-left">Admin User</button>
                                        </td>
                                        <td class="with-btn" nowrap="nowrap" th:if="${result.userType==44}">
                                            <button style="width: 98%"  disabled="disabled" type="submit" class="btn btn-warning btn-sm text-left">Tester</button>
                                        </td>
                                        <!--<td th:text="${result.userType}"/>-->
                                        <td th:text="${result.referenceUser}"/>
                                        <td th:text="${result.firstName}"/>
                                        <td th:text="${result.surname}"/>
                                        <td th:text="${result.emailAddress}"/>
                                        <td th:text="${result.telephoneNumber}"/>
                                        <!--<td th:text="${result.gender}"/>-->
                                        <td class="with-btn" nowrap="nowrap" th:if="${result.gender}=='1'">
                                            <button style="width: 98%"  disabled="disabled" type="submit" class="btn btn-primary btn-sm text-left">Male</button>
                                        </td>
                                        <td class="with-btn" nowrap="nowrap" th:if="${result.gender}=='2'">
                                            <button style="width: 98%"  disabled="disabled" type="submit" class="btn btn-info btn-sm text-left">Female</button>
                                        </td>
                                        <td th:text="${result.bankName}"/>
                                        <td th:text="${result.accountNumber}"/>
                                        <td th:text="${result.branchNumber}"/>
                                        <td th:text="${result.accountType}"/>
                                        <td th:text="${result.accountHoldername}"/>

                                        <td class="with-btn" nowrap="nowrap" th:if="${result.enabled==0}">
                                        <button style="width: 98%"  disabled="disabled" type="submit" class="btn btn-danger btn-sm text-left">Disabled</button>
                                        </td>
                                        <td class="with-btn" nowrap="nowrap" th:if="${result.enabled==1}">
                                            <button style="width: 98%" disabled="disabled"  type="submit" class="btn btn-success btn-sm text-left">Enabled</button>
                                        </td>
                                        <!--<td th:text="${result.enabled}"/>-->
                                        <!--<td th:text="${result.status}"/>-->




                                        <!--<td class="with-btn" nowrap="nowrap" th:if="${result.status==0}">-->
                                            <!--<button style="width: 98%"  disabled="disabled" name="depositReference" th:value="${result.depositReference}" type="submit" class="btn btn-info btn-sm text-left">Waiting Confirmation</button>-->
                                        <!--</td>-->

                                        <!--<td class="with-btn" nowrap="nowrap" th:if="${result.status==1}">-->
                                            <!--<button style="width: 98%"  disabled="disabled" name="depositReference" th:value="${result.depositReference}" type="submit" class="btn btn-danger btn-sm text-left">Waiting Approval</button>-->
                                        <!--</td>-->

                                        <!--<td class="with-btn" nowrap="nowrap" th:if="${result.status==2 || result.status==3}">-->
                                            <!--<button style="width: 98%"  disabled="disabled" name="depositReference" th:value="${result.depositReference}" type="submit" class="btn btn-info btn-sm text-left">Completed</button>-->
                                        <!--</td>-->

                                        <!--<td class="with-btn" nowrap="nowrap" th:if="${result.keeper==0}">-->
                                            <!--<button style="width: 98%" disabled="disabled" name="depositReference" th:value="${result.depositReference}" type="submit" class="btn btn-danger btn-sm text-left">No</button>-->
                                        <!--</td>-->
                                        <!--<td class="with-btn" nowrap="nowrap" th:if="${result.keeper==1}">-->
                                            <!--<button style="width: 98%"  disabled="disabled" name="depositReference" th:value="${result.depositReference}" type="submit" class="btn btn-info btn-sm text-left">Yes</button>-->
                                        <!--</td>-->


                                        <!--<td class="with-btn" nowrap="nowrap" th:if="${result.payerUsername.equalsIgnoreCase(profile.userName) &amp;&amp; result.status==0 &amp;&amp; result.donationType==0}">-->
                                            <!--<button disabled="disabled" style="width: 98%" name="depositReference" th:value="${result.depositReference}" type="submit" class="btn btn-muted btn-sm text-left">Pending Payment</button>-->
                                            <!--<input name="approver"  type="hidden" th:value="1"/>-->
                                        <!--</td>-->
                                        <!--<td class="with-btn" nowrap="nowrap" th:if="${result.payerUsername.equalsIgnoreCase(profile.userName) &amp;&amp; result.status==1 &amp;&amp; result.donationType==0}">-->
                                            <!--<div class="progress">-->
                                                <!--<div class="progress-bar progress-bar-striped progress-bar-animated text-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"  th:style="'width: '+${result.getMaturityAmount()/result.getAmountToReceive()*100}+'%'"  ></div>-->
                                            <!--</div>-->

                                            <!--<h6><p th:text="${T(Math).floor(result.getMaturityAmount()/result.getAmountToReceive()*100)+'% '+'Maturity Level'}"/></h6>-->
                                            <!--<p  class="text-danger " align="center"/>-->
                                            <!--<h4><p  class="text-danger " align="center" th:text="${'R'+result.maturityAmount}"/></h4>-->
                                        <!--</td>-->
                                        <!--<td class="with-btn" nowrap="nowrap" th:if="${result.payerUsername.equalsIgnoreCase(profile.userName) &amp;&amp; result.status==0 &amp;&amp; result.donationType==2} ">-->
                                            <!--<button  style="width: 98%" name="depositReference" th:value="${result.depositReference}" type="submit" class="btn btn-info btn-sm text-left" data-toggle="modal" data-target="#confirmPaymen" th:attr="data-whatever=${result.depositReference},data-whatever1=${result.payerUsername},data-whatever2=${result.amount}">Confirm Payment</button>-->
                                            <!--<input name="approver"  type="hidden" th:value="1"/>-->
                                        <!--</td>-->
                                        <!--<td class="with-btn" nowrap="nowrap" th:if="${result.payerUsername.equalsIgnoreCase(profile.userName) &amp;&amp; result.status==0 &amp;&amp; result.donationType==1}  ">-->
                                            <!--<button style="width: 98%" name="depositReference" th:value="${result.depositReference}" type="submit" class="btn btn-info btn-sm text-left" data-toggle="modal" data-target="#confirmPaymen" th:attr="data-whatever=${result.depositReference},data-whatever1=${result.payerUsername},data-whatever2=${result.amount}">Confirm Payment</button>-->
                                        <!--</td>-->
                                        <!--<td class="with-btn" nowrap="nowrap" th:if="${result.payerUsername.equalsIgnoreCase(profile.userName) &amp;&amp; result.status==1 &amp;&amp; result.donationType!=0}">-->
                                            <!--<button style="width: 98%" disabled="true" name="depositReference" th:value="${result.depositReference}" type="submit" class="btn btn-warning btn-sm text-left">Pending Approval</button>-->
                                        <!--</td>-->
                                        <!--&lt;!&ndash;<td class="with-btn" name="depositReference" nowrap="nowrap" th:if="${result.username.equalsIgnoreCase(profile.userName) &amp;&amp; result.status==0}" >&ndash;&gt;-->
                                        <!--&lt;!&ndash;<button style="width: 98%" name="depositReference" disabled="true" th:value="${result.depositReference}" type="submit" class="btn btn-warning btn-sm text-left">Pending Approval</button>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</td>&ndash;&gt;-->
                                        <!--<td class="with-btn" nowrap="nowrap" th:if="${!result.payerUsername.equalsIgnoreCase(profile.userName) &amp;&amp; result.status==0}" >-->
                                            <!--<button name="depositReference" disabled="true" th:value="${result.depositReference}" type="submit" class="btn btn-light bg-dark btn-sm text-white">Waiting Confirmation</button>-->
                                            <!--&lt;!&ndash;<input name="approver"  type="hidden" th:value="1"/>&ndash;&gt;-->
                                        <!--</td>-->
                                        <!--<td class="with-btn" name="depositReference" nowrap="nowrap" th:if="${!result.payerUsername.equalsIgnoreCase(profile.userName) &amp;&amp; result.status==1}" >-->
                                            <!--<button style="width: 98%" name="depositReference" th:value="${result.depositReference}" type="submit" class="btn btn-danger btn-sm text-left">Approve Donation</button>-->
                                            <!--<input name="approvers"  type="hidden" th:value="2"/>-->
                                        <!--</td>-->
                                        <!--<td class="with-btn" nowrap="nowrap" th:if="${result.status==2}" >-->
                                            <!--<button style="width: 98%" disabled="true"  name="depositReference" th:value="${result.depositReference}" type="submit" class="btn btn-primary btn-sm text-left text-white">Completed</button>-->
                                        <!--</td>-->
                                        <!--<td class="with-btn" nowrap="nowrap" th:if="${result.status==3}" >-->
                                            <!--<button style="width: 98%" disabled="true"  name="depositReference" th:value="${result.depositReference}" type="submit" class="btn btn-primary btn-sm text-left text-white" >Completed</button>-->
                                        <!--</td>-->

                                    </tr>



                                    <div class="modal fade" id="confirmPayment1" tabindex="-1" role="dialog"
                                         aria-labelledby="confirmPaymentLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header" align="center">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title" id="confirmPaymentLabel">Confirm Donation
                                                        Payment</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="payerUsername" class="control-label">PayerUsername:<input
                                                                    disabled="true" type="text" class="form-control"
                                                                    id="payerUsername"/></label>

                                                        </div>
                                                        <div class="form-group">
                                                            <label for="depositReference" class="control-label">DepositReference:<input
                                                                    disabled="true" type="text" class="form-control"
                                                                    id="depositReference"
                                                            /></label>
                                                            <input name="approver"  type="hidden" th:value="1"/>
                                                            <!--<input  type="hidden" />-->
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="donationAmount" class="control-label">DonationAmount:<input
                                                                    disabled="true" type="text" class="form-control"
                                                                    id="donationAmount"/></label>

                                                        </div>
                                                        <div class="form-group">
                                                            <label for="approver" class="control-label"><input
                                                                    disabled="true" type="hidden" class="form-control"
                                                                    id="approver"/></label>
                                                            <!--<label for="depositReferenceCount"-->
                                                            <!--class="control-label"><input disabled="true"-->
                                                            <!--type="hidden"-->
                                                            <!--class="form-control"-->
                                                            <!--id="depositReferenceCount" name="depositReferenceCount" th:value="${result.depositReference}"/></label>-->


                                                        </div>


                                                        <!--<p>PAYER USERNAME:<span class="badge" th:text="${result.payerUsername}"></span></p>-->

                                                        <!--<p>DEPOSIT REF:<span class="badge" th:text="${'      '+result.depositReference}"></span></p>-->
                                                        <!--<p>AMOUNT : <span class="badge" th:text="${'R'+result.amount}"></span></p>-->

                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Close
                                                        <button onclick='this.form.submit()' name="action" value="1" type="button" class="btn btn-primary">Confirm Pyment</button>

                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </table>

                            <!-- Modal -->


                            <!-- end table-responsive -->

                        </div>
                        <!--<div th:if="sponsorResponse!=1" align="center">-->
                        <!--<div class="alert alert-info col-lg-12" >-->
                        <!--<strong>Info!</strong> <span>Make Payments to your Sponsors 1st to unlock the Donation List and wait approval by sponsors</span>-->
                        <!--</div>	&lt;!&ndash; begin panel-heading &ndash;&gt;-->
                        <!--<img src="../assets/img/intro-image-security.png" class="media-object" alt="" style="width:20%; height:20%"/>-->
                        <!--</div>-->
                        <!-- end panel-body -->
                        <!-- begin hljs-wrapper -->

                        <!-- end hljs-wrapper -->
                    </div>
                    <!-- end panel --> </form>
            </div>


            <!-- begin col-4 -->

            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->

    <!-- begin theme-panel -->

    <!-- end theme-panel -->

    <!-- begin scroll to top btn -->
    <a href="#" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="../assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="../assets/plugins/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<!--[if lt IE 9]>
<script src="../assets/crossbrowserjs/html5shiv.js"></script>
<script src="../assets/crossbrowserjs/respond.min.js"></script>
<script src="../assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../assets/plugins/js-cookie/js.cookie.js"></script>
<script src="../assets/js/theme/default.min.js"></script>
<script src="../assets/js/apps.min.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../assets/plugins/gritter/js/jquery.gritter.js"></script>
<script src="../assets/plugins/flot/jquery.flot.min.js"></script>
<script src="../assets/plugins/flot/jquery.flot.time.min.js"></script>
<script src="../assets/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="../assets/plugins/flot/jquery.flot.pie.min.js"></script>
<script src="../assets/plugins/sparkline/jquery.sparkline.js"></script>
<script src="../assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
<script src="../assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="../assets/js/demo/dashboard.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->


<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="../assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="../assets/plugins/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
<script src="../assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/js/demo/table-manage-select.demo.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function () {
        App.init();
        // Dashboard.init();
        TableManageTableSelect.init();
    });
</script>
<script>
    $('#confirmPayment1').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        var recipient1 = button.data('whatever1') // Extract info from data-* attributes
        var recipient4 = button.data('whatever') // Extract info from data-* attributes

        var recipient2 = button.data('whatever2') // Extract info from data-* attributes
        var recipient3 = button.data('whatever3') // Extract info from data-* attributes

        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        // modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('#depositReference').val(recipient)
        modal.find('#payerUsername').val(recipient1)
        modal.find('#donationAmount').val('R ' + recipient2)
        modal.find('#approver').val(1)
        document.getElementById('depositReference').value =recipient4;
        console.log(recipient4);
    })
</script>
<script>
    function setModalData()
    {
        depositReference = document.getElementById("depositReference1").value;
        payerUsername = document.getElementById("payerUsername").value;
        donationAmount = document.getElementById("donationAmount").value;


        document.getElementById("depositReference").innerHTML = depositReference;
        document.getElementById("payerUsername").innerHTML = payerUsername;
        document.getElementById("donationAmount").innerHTML = donationAmount;
        console.log(depositReference)
    };
</script>
<script>
    $('button.btnDelete').on('click', function (e) {
        e.preventDefault();
        var id = $(this).closest('tr').data('id');
        $('#myModal').data('id', id).modal('show');
    });

    $('#btnDelteYes').click(function () {
        var id = $('#myModal').data('id');
        $('[data-id=' + id + ']').remove();
        $('#myModal').modal('hide');
    });
</script>
<script> window.intergramId = "437066089"
window.intergramCustomizations = {
    titleClosed: 'Closed chat title',
    titleOpen: 'Opened chat title',
    introMessage: 'Welcome to MindSet 24-7 How Can We Help You',
    // autoResponse: 'Please Wait!! As The Next Free System Administrator Will Assist You Shortly',
    autoNoResponse: 'We Are Experiencing High Volumes, Will Assist You Shortly',
    // mainColor: "#e3e926", // Can be any css supported color 'red', 'rgb(255,87,34)', etc
    alwaysUseFloatingButton: false // Use the mobile floating button also on large screens
};
</script>
<script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>
</body>
</html>
