<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8" />
	<title>Color Admin | Wizards</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
	<link href="../assets/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="../assets/css/default/style.min.css" rel="stylesheet" />
	<link href="../assets/css/default/style-responsive.min.css" rel="stylesheet" />
	<link href="../assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="../assets/plugins/jquery-smart-wizard/src/css/smart_wizard.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar-default">
			<!-- begin navbar-header -->
			<div class="navbar-header">
				<a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> <b>Color</b> Admin</a>
				<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- end navbar-header -->
			
			<!-- begin header-nav -->
			<ul class="navbar-nav navbar-right">
				<li>
					<form class="navbar-form">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Enter keyword" />
							<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
						</div>
					</form>
				</li>
				<li class="dropdown">
					<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
						<i class="fa fa-bell"></i>
						<span class="label">5</span>
					</a>
					<ul class="dropdown-menu media-list dropdown-menu-right">
						<li class="dropdown-header">NOTIFICATIONS (5)</li>
						<li class="media">
							<a href="javascript:;">
								<div class="media-left">
									<i class="fa fa-bug media-object bg-silver-darker"></i>
								</div>
								<div class="media-body">
									<h6 class="media-heading">Server Error Reports <i class="fa fa-exclamation-circle text-danger"></i></h6>
									<div class="text-muted f-s-11">3 minutes ago</div>
								</div>
							</a>
						</li>
						<li class="media">
							<a href="javascript:;">
								<div class="media-left">
									<img src="../assets/img/user/user-1.jpg" class="media-object" alt="" />
									<i class="fab fa-facebook-messenger text-primary media-object-icon"></i>
								</div>
								<div class="media-body">
									<h6 class="media-heading">John Smith</h6>
									<p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
									<div class="text-muted f-s-11">25 minutes ago</div>
								</div>
							</a>
						</li>
						<li class="media">
							<a href="javascript:;">
								<div class="media-left">
									<img src="../assets/img/user/user-2.jpg" class="media-object" alt="" />
									<i class="fab fa-facebook-messenger text-primary media-object-icon"></i>
								</div>
								<div class="media-body">
									<h6 class="media-heading">Olivia</h6>
									<p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
									<div class="text-muted f-s-11">35 minutes ago</div>
								</div>
							</a>
						</li>
						<li class="media">
							<a href="javascript:;">
								<div class="media-left">
									<i class="fa fa-plus media-object bg-silver-darker"></i>
								</div>
								<div class="media-body">
									<h6 class="media-heading"> New User Registered</h6>
									<div class="text-muted f-s-11">1 hour ago</div>
								</div>
							</a>
						</li>
						<li class="media">
							<a href="javascript:;">
								<div class="media-left">
									<i class="fa fa-envelope media-object bg-silver-darker"></i>
									<i class="fab fa-google text-warning media-object-icon f-s-14"></i>
								</div>
								<div class="media-body">
									<h6 class="media-heading"> New Email From John</h6>
									<div class="text-muted f-s-11">2 hour ago</div>
								</div>
							</a>
						</li>
						<li class="dropdown-footer text-center">
							<a href="javascript:;">View more</a>
						</li>
					</ul>
				</li>
				<li class="dropdown navbar-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<img src="../assets/img/user/user-13.jpg" alt="" /> 
						<span class="d-none d-md-inline">Adam Schwartz</span> <b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="javascript:;" class="dropdown-item">Edit Profile</a>
						<a href="javascript:;" class="dropdown-item"><span class="badge badge-danger pull-right">2</span> Inbox</a>
						<a href="javascript:;" class="dropdown-item">Calendar</a>
						<a href="javascript:;" class="dropdown-item">Setting</a>
						<div class="dropdown-divider"></div>
						<a href="javascript:;" class="dropdown-item">Log Out</a>
					</div>
				</li>
			</ul>
			<!-- end header navigation right -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<a href="javascript:;" data-toggle="nav-profile">
							<div class="cover with-shadow"></div>
							<div class="image">
								<img src="../assets/img/user/user-13.jpg" alt="" />
							</div>
							<div class="info">
								<b class="caret pull-right"></b>
								Sean Ngu
								<small>Front end developer</small>
							</div>
						</a>
					</li>
					<li>
						<ul class="nav nav-profile">
                            <li><a href="javascript:;"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
                            <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Helps</a></li>
                        </ul>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-header">Navigation</li>
					<li><a href="profile"><i class="fa fa-table"></i> <span>PROFILE</span></a></li>
					<li><a href="new_donation"><i class="fa fa-image"></i> <span>NEW DONATION</span></a></li>
					<li><a href="calendar.html"><i class="fa fa-clock"></i> <span>PENDING APPROVAL</span></a></li>
					<li><a href="calendar.html"><i class="fa fa-calendar"></i> <span>DONATIONS STATUS</span></a></li>
					<!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Form Stuff</a></li>
				<li class="breadcrumb-item active">Wizards</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">New Donation </h1>
			<!-- end page-header -->
			
			<!-- begin wizard-form -->
			<form action="#" data-th-action="@{./createDonation}" th:object="${register}" method="post"
				  enctype="multipart/form-data" class="margin-bottom-0">
				<!-- begin wizard -->
				<div id="wizard">
					<!-- begin wizard-step -->
					<ul>
						<li class="col-md-3 col-sm-4 col-6">
							<a href="#step-1">
								<span class="number">1</span> 
								<span class="info text-ellipsis">
									Bank Accounts
									<small class="text-ellipsis">Confirm and Select Bank Account To Use</small>
								</span>
							</a>
						</li>
						<li class="col-md-3 col-sm-4 col-6">
							<a href="#step-2">
								<span class="number">2</span>
								<span class="info text-ellipsis">
									Calculate Donation
									<small class="text-ellipsis">Calculate how much to donate and when to get returns</small>
								</span>
							</a>
						</li>
						<!--<li class="col-md-3 col-sm-4 col-6">-->
							<!--<a href="#step-3">-->
								<!--<span class="number">3</span>-->
								<!--<span class="info text-ellipsis">-->
									<!--Login Account-->
									<!--<small class="text-ellipsis">Enter your username and password</small>-->
								<!--</span>-->
							<!--</a>-->
						<!--</li>-->
						<li class="col-md-3 col-sm-4 col-6">
							<a href="#step-4">
								<span class="number">3</span>
								<span class="info text-ellipsis">
									Completed
									<small class="text-ellipsis">Complete Creating Donation</small>
								</span>
							</a>
						</li>
					</ul>
					<!-- end wizard-step -->
					<!-- begin wizard-content -->
					<div>
						<!-- begin step-1 -->
						<div id="step-1">
							<!-- begin fieldset -->
							<fieldset>
								<!-- begin row -->
								<div class="row">
									<!-- begin col-8 -->
									<div class="col-md-8 offset-md-2">
										<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Confirm Your Bank Account</legend>
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Bank Name</label>
											<div class="col-md-6">
												<label type="text"  class="form-control" disabled="disabled" th:text="${profile.bankName}" />
											</div>
										</div>
										<!-- end form-group row -->
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Branch Number</label>
											<div class="col-md-6">
												<label type="text" disabled="disabled" th:text="${profile.branchNumber}" class="form-control" />
											</div>
										</div>
										<!-- end form-group row -->
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Account Type</label>
											<div class="col-md-6">
												<label type="text" disabled="disabled" class="form-control" th:text="${profile.accountType}"/>
											</div>
										</div>

										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Account Number</label>
											<div class="col-md-6">
												<label type="text" disabled="disabled" th:text="${profile.accountNumber}" class="form-control" />
											</div>
										</div>
										<!-- end form-group row -->
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Account Holder Name</label>
											<div class="col-md-6">
												<label type="text" disabled="disabled" th:text="${profile.accountHoldername}" class="form-control" />
											</div>
										</div>
										<!-- end form-group row -->

									</div>
									<!-- end col-8 -->
								</div>
								<!-- end row -->
							</fieldset>
							<!-- end fieldset -->
						</div>
						<!-- end step-1 -->
						<!-- begin step-2 -->
						<div id="step-2">
							<!-- begin fieldset -->
							<fieldset>
								<!-- begin row -->
								<div class="row">
									<!-- begin col-8 -->
									<div class="col-md-8 offset-md-2">
										<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Calculate Expected Returns</legend>

										<!-- begin form-group row -->
										<div class="container">
											<div class="row">
												<div class="col-md-6 col-md-offset-3 col-sm-offset-2 col-sm-8 col-xs-12">
													<form class="credit">
														<div class="form-group">
															<label for="amount">Amount of money</label>
															<div class="input-group">
																<div class="input-group-addon">ZAR</div>
																<input type="text"  class="form-control validate" id="amount" name="amount" placeholder="Enter Donation Amount" required="required" oninput="multiplyBy()"/>
															</div>
														</div>
														<div class="text-right">
															<div class="spinner hide">
																<div class="bounce1"></div>
																<div class="bounce2"></div>
																<div class="bounce3"></div>
															</div>
															<strong class="convert-dollar text-warning"></strong>
															<strong class="convert-euro text-warning pull-right"></strong>&nbsp;&nbsp;
														</div>
														<div class="form-group">
															<label for="percent">Percent</label>
															<div class="input-group">
																<div class="input-group-addon">%</div>
																<input type="text" name="percent" class="form-control validate" id="percent" disabled="true" placeholder="Percent" value="40"  required="required" oninput="multiplyBy()"/>
															</div>
														</div>
														<!--<div class="form-group">-->
															<!--<label><span class="rangevalue">50</span> Months</label>-->
															<!--<input class="slider" type="range" min="1" max="24" value="10" oninput="multiplyBy()"/>-->

														<!--</div>-->
														<!--<input type="text" name="qty"  class="form-control" id="qty" />-->
														<!--<input th:if="${result.userType=='1'}" type="hidden" id="userTypeCharge" value="5" class="form-control" />-->

													</form>
													<h4 class="results text-warning">Expected PayBack R<span  class="month-pay text-info" id="result"></span>
														<br></br>
														<small>Maturity Date: <bold><span class="pay" id="oneMonthDate"></span></bold></small>
													</h4>
												</div>
											</div>
										</div>
										<!-- end form-group row -->
									</div>
									<!-- end col-8 -->
								</div>
								<!-- end row -->
							</fieldset>
							<!-- end fieldset -->
						</div>
						<!-- end step-2 -->
						<!-- begin step-3 -->
						<!--<div id="step-3">-->
							<!--&lt;!&ndash; begin fieldset &ndash;&gt;-->
							<!--<fieldset>-->
								<!--&lt;!&ndash; begin row &ndash;&gt;-->
								<!--<div class="row">-->
									<!--&lt;!&ndash; begin col-8 &ndash;&gt;-->
									<!--<div class="col-md-8 offset-md-2">-->
										<!--<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Select your login username and password</legend>-->
										<!--&lt;!&ndash; begin form-group row &ndash;&gt;-->
										<!--<div class="form-group row m-b-10">-->
											<!--<label class="col-md-3 text-md-right col-form-label">Username</label>-->
											<!--<div class="col-md-6">-->
												<!--<input type="text" name="username" placeholder="johnsmithy" class="form-control" />-->
											<!--</div>-->
										<!--</div>-->
										<!--&lt;!&ndash; end form-group row &ndash;&gt;-->
										<!--&lt;!&ndash; begin form-group row &ndash;&gt;-->
										<!--<div class="form-group row m-b-10">-->
											<!--<label class="col-md-3 text-md-right col-form-label">Pasword</label>-->
											<!--<div class="col-md-6">-->
												<!--<input type="password" name="password" placeholder="Your password" class="form-control" />-->
											<!--</div>-->
										<!--</div>-->
										<!--&lt;!&ndash; end form-group row &ndash;&gt;-->
										<!--&lt;!&ndash; begin form-group row &ndash;&gt;-->
										<!--<div class="form-group row m-b-10">-->
											<!--<label class="col-md-3 text-md-right col-form-label">Confirm Pasword</label>-->
											<!--<div class="col-md-6">-->
												<!--<input type="password" name="password2" placeholder="Confirmed password" class="form-control" />-->
											<!--</div>-->
										<!--</div>-->
										<!--&lt;!&ndash; end form-group row &ndash;&gt;-->
									<!--</div>-->
									<!--&lt;!&ndash; end col-8 &ndash;&gt;-->
								<!--</div>-->
								<!--&lt;!&ndash; end row &ndash;&gt;-->
							<!--</fieldset>-->
							<!--&lt;!&ndash; end fieldset &ndash;&gt;-->
						<!--</div>-->
						<!-- end step-3 -->
						<!-- begin step-4 -->
						<div id="step-4">
							<div class="jumbotron m-b-0 text-center">
								<h2 class="text-inverse">Confirm Donation Creation</h2>
								<p class="m-b-30 f-s-16">Amount To Donate:   R<span  class="month-pay text-info" id="amountToGet"></span><br /> </p>

								<p class="m-b-30 f-s-16">Amount To Benefit:  R<span  class="month-pay text-info" id="resultConfirmation"></span><br /> </p>

								<p class="m-b-30 f-s-16">Maturity Date:       <span  class="month-pay text-info" id="oneMonthDate1"></span><br /> </p>

								<p><button name="action" value="1" type="submit" class="btn btn-primary btn-lg">Confirm New Donation</button></p>
								<input name="amount" type="hidden" th:value="${amountToGet}"/>
								<input name="payerUsername" type="hidden" th:value="${profile.userName}"/>
								<input name="bankAccountNumber" type="hidden" th:value="${profile.accountNumber}"/>
							</div>
						</div>
						<!-- end step-4 -->
					</div>
					<!-- end wizard-content -->
				</div>
				<!-- end wizard -->
			</form>
			<!-- end wizard-form -->
		</div>
		<!-- end #content -->
		
        <!-- begin theme-panel -->
        <div class="theme-panel">
            <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content">
                <h5 class="m-t-0">Color Theme</h5>
                <ul class="theme-list clearfix">
                    <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-theme-file="../assets/css/default/theme/default.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-red" data-theme="red" data-theme-file="../assets/css/default/theme/red.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-theme-file="../assets/css/default/theme/blue.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-theme-file="../assets/css/default/theme/purple.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-theme-file="../assets/css/default/theme/orange.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-black" data-theme="black" data-theme-file="../assets/css/default/theme/black.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
                </ul>
                <div class="divider"></div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Header Styling</div>
                    <div class="col-md-7">
                        <select name="header-styling" class="form-control form-control-sm">
                            <option value="1">default</option>
                            <option value="2">inverse</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Header</div>
                    <div class="col-md-7">
                        <select name="header-fixed" class="form-control form-control-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Styling</div>
                    <div class="col-md-7">
                        <select name="sidebar-styling" class="form-control form-control-sm">
                            <option value="1">default</option>
                            <option value="2">grid</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Sidebar</div>
                    <div class="col-md-7">
                        <select name="sidebar-fixed" class="form-control form-control-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Gradient</div>
                    <div class="col-md-7">
                        <select name="content-gradient" class="form-control form-control-sm">
                            <option value="1">disabled</option>
                            <option value="2">enabled</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Content Styling</div>
                    <div class="col-md-7">
                        <select name="content-styling" class="form-control form-control-sm">
                            <option value="1">default</option>
                            <option value="2">black</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-12">
                        <a href="javascript:;" class="btn btn-inverse btn-block btn-sm" data-click="reset-local-storage">Reset Local Storage</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/jquery/jquery-3.2.1.min.js"></script>
	<script src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="../assets/plugins/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../assets/crossbrowserjs/respond.min.js"></script>
		<script src="../assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../assets/plugins/js-cookie/js.cookie.js"></script>
	<script src="../assets/js/theme/default.min.js"></script>
	<script src="../assets/js/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../assets/plugins/jquery-smart-wizard/src/js/jquery.smartWizard.js"></script>
	<script src="../assets/js/demo/form-wizards.demo.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
			FormWizard.init();
		});
	</script>
	<script>
        function multiplyBy()
        {
            num1 = document.getElementById("percent").value;
            num2 = document.getElementById("amount").value;
            num3=0.40 * document.getElementById("amount").value;
            console.log(num3);
            num4=parseInt(num3)+parseInt(document.getElementById("amount").value);
            console.log(num4);
            document.getElementById("result").innerHTML = num4;
            document.getElementById("resultConfirmation").innerHTML = num4;
            var dt = new Date();
            dt.setMonth(dt.getMonth() + 1);
            document.getElementById("oneMonthDate").innerHTML = new Date(dt).toISOString().split('T')[0];
            document.getElementById("oneMonthDate1").innerHTML = new Date(dt).toISOString().split('T')[0];
            document.getElementById("amountToGet").innerHTML=document.getElementById("amount").value;
        };
	</script>

</body>
</html>
