<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>MindSet 24-7 | Profile</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
	<link href="../assets/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="../assets/css/default/style.min.css" rel="stylesheet" />
	<link href="../assets/css/default/style-responsive.min.css" rel="stylesheet" />
	<link href="../assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
	<link href="../assets/plugins/superbox/css/superbox.min.css" rel="stylesheet" />
	<link href="../assets/plugins/lity/dist/lity.min.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div class="container" th:include="fragments :: notifications" />
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div class="container" th:include="fragments :: sideBar" />

		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content content-full-width">

			<!-- begin profile -->
			<div class="profile">
				<div class="profile-header">
					<!-- BEGIN profile-header-cover -->
					<div class="profile-header-cover"></div>
					<!-- END profile-header-cover -->
					<!-- BEGIN profile-header-content -->
					<div class="profile-header-content">

						<!-- END profile-header-img -->


						<div class="row">
							<!-- begin col-3 -->
							<div class="col-lg-2 col-md-2">
								<!-- BEGIN profile-header-img -->
								<div class="profile-header-img">
									<img th:src="@{'data:image/jpeg;base64,'+${profile.profilePic}}"
										 alt="no profile pic set"/>
								</div>

							</div>


						</div>
						<!-- END profile-header-info -->

					</div>
					<!-- END profile-header-content -->
					<!-- BEGIN profile-header-tab -->
					<ul class="profile-header-tab nav nav-tabs">
						<!--<li class="nav-item"><a href="#profile-post" class="nav-link active" data-toggle="tab">POSTS</a></li>-->
						<li class="nav-item"><a href="#profile-about" class="nav-link" data-toggle="tab">ABOUT</a></li>
						<!--<li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">PHOTOS</a></li>-->
						<!--<li class="nav-item"><a href="#profile-videos" class="nav-link" data-toggle="tab">VIDEOS</a></li>-->
						<!--<li class="nav-item"><a href="#profile-friends" class="nav-link" data-toggle="tab">FRIENDS</a></li>-->
					</ul>
					<!-- END profile-header-tab -->

				</div>
			</div>
			<!-- end profile -->
			<!-- begin profile-content -->
            <div class="profile-content">
            	<!-- begin tab-content -->
            	<div class="tab-content p-0">
            		<!-- begin #profile-post tab -->
            		<div class="tab-pane fade " id="profile-post">
						<!-- begin timeline -->
						<ul class="timeline">
							<li>
								<!-- begin timeline-time -->
								<div class="timeline-time">
									<span class="date">today</span>
									<span class="time">04:20</span>
								</div>
								<!-- end timeline-time -->
								<!-- begin timeline-icon -->
								<div class="timeline-icon">
									<a href="#">&nbsp;</a>
								</div>
								<!-- end timeline-icon -->
								<!-- begin timeline-body -->
								<div class="timeline-body">
									<div class="timeline-header">
										<span class="userimage"><img src="../assets/img/user/user-12.jpg" alt="" /></span>
										<span class="username"><a href="#">Sean Ngu</a> <small></small></span>
										<span class="pull-right text-muted">18 Views</span>
									</div>
									<div class="timeline-content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis tincidunt luctus.
											Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
										</p>
									</div>
									<div class="timeline-likes">
										<div class="stats-right">
											<span class="stats-text">259 Shares</span>
											<span class="stats-text">21 Comments</span>
										</div>
										<div class="stats">
											<span class="fa-stack fa-fw stats-icon">
											  <i class="fa fa-circle fa-stack-2x text-danger"></i>
											  <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
											</span>
											<span class="fa-stack fa-fw stats-icon">
											  <i class="fa fa-circle fa-stack-2x text-primary"></i>
											  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
											</span>
											<span class="stats-total">4.3k</span>
										</div>
									</div>
									<div class="timeline-footer">
										<a href="#" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
										<a href="#" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
										<a href="#" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
									</div>
									<div class="timeline-comment-box">
										<div class="user"><img src="../assets/img/user/user-12.jpg" /></div>
										<div class="input">
											<form action="">
												<div class="input-group">
													<input type="text" class="form-control rounded-corner" placeholder="Write a comment..." />
													<span class="input-group-btn p-l-10">
														<button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
													</span>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- end timeline-body -->
							</li>
							<li>
								<!-- begin timeline-time -->
								<div class="timeline-time">
									<span class="date">yesterday</span>
									<span class="time">20:17</span>
								</div>
								<!-- end timeline-time -->
								<!-- begin timeline-icon -->
								<div class="timeline-icon">
									<a href="#">&nbsp;</a>
								</div>
								<!-- end timeline-icon -->
								<!-- begin timeline-body -->
								<div class="timeline-body">
									<div class="timeline-header">
										<span class="userimage"><img src="../assets/img/user/user-12.jpg" alt="" /></span>
										<span class="username">Sean Ngu</span>
										<span class="pull-right text-muted">82 Views</span>
									</div>
									<div class="timeline-content">
										<p>Location: United States</p>
										<div id="google-map" class="height-sm m-b-10"></div>
									</div>
									<div class="timeline-footer">
										<a href="#" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
										<a href="#" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
										<a href="#" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
									</div>
								</div>
								<!-- end timeline-body -->
							</li>
							<li>
								<!-- begin timeline-time -->
								<div class="timeline-time">
									<span class="date">24 February 2014</span>
									<span class="time">08:17</span>
								</div>
								<!-- end timeline-time -->
								<!-- begin timeline-icon -->
								<div class="timeline-icon">
									<a href="#">&nbsp;</a>
								</div>
								<!-- end timeline-icon -->
								<!-- begin timeline-body -->
								<div class="timeline-body">
									<div class="timeline-header">
										<span class="userimage"><img src="../assets/img/user/user-12.jpg" alt="" /></span>
										<span class="username">Sean Ngu</span>
										<span class="pull-right text-muted">1,282 Views</span>
									</div>
									<div class="timeline-content">
										<p class="lead">
											<i class="fa fa-quote-left fa-fw pull-left"></i>
											Quisque sed varius nisl. Nulla facilisi. Phasellus consequat sapien sit amet nibh molestie placerat. Donec nulla quam, ullamcorper ut velit vitae, lobortis condimentum magna. Suspendisse mollis in sem vel mollis.
											<i class="fa fa-quote-right fa-fw pull-right"></i>
										</p>
									</div>
									<div class="timeline-footer">
										<a href="#" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
										<a href="#" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
										<a href="#" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
									</div>
								</div>
								<!-- end timeline-body -->
							</li>
							<li>
								<!-- begin timeline-time -->
								<div class="timeline-time">
									<span class="date">10 January 2014</span>
									<span class="time">20:43</span>
								</div>
								<!-- end timeline-time -->
								<!-- begin timeline-icon -->
								<div class="timeline-icon">
									<a href="#">&nbsp;</a>
								</div>
								<!-- end timeline-icon -->
								<!-- begin timeline-body -->
								<div class="timeline-body">
									<div class="timeline-header">
										<span class="userimage"><img src="../assets/img/user/user-12.jpg" alt="" /></span>
										<span class="username">Sean Ngu</span>
										<span class="pull-right text-muted">1,021,282 Views</span>
									</div>
									<div class="timeline-content">
										<h4 class="template-title">
											<i class="fa fa-map-marker-alt text-danger fa-fw"></i>
											795 Folsom Ave, Suite 600 San Francisco, CA 94107
										</h4>
										<p>In hac habitasse platea dictumst. Pellentesque bibendum id sem nec faucibus. Maecenas molestie, augue vel accumsan rutrum, massa mi rutrum odio, id luctus mauris nibh ut leo.</p>
										<p class="m-t-20">
											<img src="../assets/img/gallery/gallery-5.jpg" alt="" />
										</p>
									</div>
									<div class="timeline-footer">
										<a href="#" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
										<a href="#" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
										<a href="#" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
									</div>
								</div>
								<!-- end timeline-body -->
							</li>
							<li>
								<!-- begin timeline-icon -->
								<div class="timeline-icon">
									<a href="#">&nbsp;</a>
								</div>
								<!-- end timeline-icon -->
								<!-- begin timeline-body -->
								<div class="timeline-body">
									Loading...
								</div>
								<!-- begin timeline-body -->
							</li>
						</ul>
						<!-- end timeline -->
            		</div>
            		<!-- end #profile-post tab -->
            		<!-- begin #profile-about tab -->
            		<div class="tab-pane fade in show active" id="profile-about">
						<!-- begin table -->
						<div class="table-responsive">
							<table class="table table-profile">
								<tbody>

									<tr>
										<td class="field">Phone Number</td>
										<td><i class="fa fa-mobile" th:text="${profile.telephoneNumber}"></i>  </td>
									</tr>

									<tr class="divider">
										<td colspan="2"></td>
									</tr>
									<tr >
										<td class="field" >Email Address</td>
										<td th:text="${profile.emailAddress}"/>
									</tr>
									<tr class="divider">
										<td colspan="2"></td>
									</tr>
									<tr class="highlight">
										<td class="field">Country/Region</td>
										<td>
											<select class="form-control input-inline input-xs" name="region">
												<option value="ZA" selected="selected">South Africa</option>
											</select>
										</td>
									</tr>
									<tr>
										<td class="field" >Bank Name</td>
										<td th:text="${profile.bankName}"></td>
									</tr>
									<tr>
										<td class="field">Branch Number</td>
										<td th:text="${profile.branchNumber}"/>
									</tr>
									<tr>
										<td class="field">Account Type</td>
										<td th:text="${profile.bankName}"/>
									</tr>
									<tr>
										<td class="field">Account Number</td>
										<td th:text="${profile.accountNumber}"/>
									</tr>
									<tr>
										<td class="field">Account Holder Name</td>
										<td th:text="${profile.accountHoldername}"/>
									</tr>


									<tr th:if="${profile.gender.equals('1')}">
										<td class="field">Gender</td>
										<td>Male</td>
									</tr>
									<tr th:if="${profile.gender==2}">
										<td class="field">Female</td>
										<td>Male</td>
									</tr>

									<!--<tr>-->
										<!--<td class="field">Birthdate</td>-->
										<!--<td>-->
											<!--<select class="form-control input-inline input-xs" name="day">-->
												<!--<option value="04" selected="selected">04</option>-->
											<!--</select>-->
											<!-- - -->
											<!--<select class="form-control input-inline input-xs" name="month">-->
												<!--<option value="11" selected="selected">11</option>-->
											<!--</select>-->
											<!-- - -->
											<!--<select class="form-control input-inline input-xs" name="year">-->
												<!--<option value="1989" selected="selected">1989</option>-->
											<!--</select>-->
										<!--</td>-->
									<!--</tr>-->
									<tr>
										<td class="field">Language</td>
										<td>
											<select class="form-control input-inline input-xs" name="language">
												<option value="" selected="selected">English</option>
											</select>
										</td>
									</tr>
									<tr class="divider">
										<td colspan="2"></td>
									</tr>
									<tr class="highlight">
										<td class="field">&nbsp;</td>
										<td class="p-t-10 p-b-10">
											<button type="button"  class="btn btn-info"><span class="badge">info</span> To Update any info Contact System Administrator on Live Chat and make a Request </button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- end table -->
					</div>
            		<!-- end #profile-about tab -->
            		<!-- begin #profile-photos tab -->

            		<!-- end #profile-photos tab -->
            		<!-- begin #profile-videos tab -->

            		<!-- end #profile-videos tab -->
            		<!-- begin #profile-friends tab -->

            		<!-- end #profile-friends tab -->
				</div>
            	<!-- end tab-content -->
            </div>
			<!-- end profile-content -->
		</div>
		<!-- end #content -->
		

		<!-- begin scroll to top btn -->
		<a href="#" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/jquery/jquery-3.2.1.min.js"></script>
	<script src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="../assets/plugins/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../assets/crossbrowserjs/respond.min.js"></script>
		<script src="../assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../assets/plugins/js-cookie/js.cookie.js"></script>
	<script src="../assets/js/theme/default.min.js"></script>
	<script src="../assets/js/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
	<script src="../assets/plugins/superbox/js/jquery.superbox.min.js"></script>
	<script src="../assets/plugins/lity/dist/lity.min.js"></script>
	<script src="../assets/js/demo/profile.demo.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
			Profile.init();
		});
	</script>
	<script> window.intergramId = "437066089"
    window.intergramCustomizations = {
        titleClosed: 'Closed chat title',
        titleOpen: 'Opened chat title',
        introMessage: 'Welcome to MindSet 24-7 How Can We Help You',
        // autoResponse: 'Please Wait!! As The Next Free System Administrator Will Assist You Shortly',
        autoNoResponse: 'We Are Experiencing High Volumes, Will Assist You Shortly',
        // mainColor: "#e3e926", // Can be any css supported color 'red', 'rgb(255,87,34)', etc
        alwaysUseFloatingButton: false // Use the mobile floating button also on large screens
    };
	</script>
	<script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>
</body>
</html>
